@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply w-full border-gray-300 rounded-lg focus:shadow-lg focus:border-gray-300 focus:ring-0 placeholder-gray-300;
    }
    [type='checkbox'],
    [type='radio'] {
        @apply rounded border-gray-300 text-yellow-500 focus:ring-yellow-400;
    }
}

@layer components {
    .baseTxtLogo {
        @apply text-transparent bg-gradient-to-r bg-clip-text from-magenta-500 to-magenta-800 tracking-tighter;
    }

    .opcionesNavbar {
        @apply flex flex-1 justify-center items-center space-x-8 text-xl text-legacyGray-500 uppercase font-bold;
    }

    .opcionMenu {
        @apply hover:text-legacyGray-600 animacionSubrayadoHover;
    }

    .opcionMenuActivo {
        @apply text-magenta-600;
    }

    .animacionSubrayadoHover {
        /* display: inline-block; */
        position: relative;
        /* color: #d53f8c; */
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .animacionSubrayadoHover::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #d53f8c;
        transform-origin: bottom right;
        transition: transform 0.5s ease-out;
    }

    .animacionSubrayadoHover:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}
